<section>
    <form #formAlbum="ngForm" (ngSubmit)="onSubmit()">
        <h1>{{titulo}}</h1>

        <div *ngIf="alertMessage">
            <div class="alert alert-success" role="alert">
                {{alertMessage}}
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="title" #title="ngModel" name="title"
                [(ngModel)]="album.title" required>
            <label>Titulo</label>
            <span *ngIf="!title.valid && title.touched">El titulo es obligatorio</span>
        </div>

        <div class="textarea form-group mb-3">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #description="ngModel"
                [(ngModel)]="album.description" name="description" required></textarea>
            <span *ngIf="!description.valid && description.touched">La descripcion es obligatoria</span>
        </div>

        <div class="year form-floating mb-3">
            <input type="number" class="form-control" placeholder="year" #year="ngModel" name="year"
                [(ngModel)]="album.year" required>
            <label>Año</label>
            <span *ngIf="!year.valid && year.touched">El año es obligatorio</span>
        </div>

        <div *ngIf="is_edit" class="mb-2">
            <div class="album_image_for_edit" *ngIf="album.image && album.image != 'null'">
                <img class="albumImg" src="{{url + 'get-image-album/' + album.image }}" />
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="formFile" class="albumimg form-label">Sube la imagen del album</label>
            <input class="form-control" id="formFile" type="file" (change)="fileChangeEvent($event)">
        </div>

        <div class="button form-floating mb-3">
            <button type="submit" class="btn btn-secondary" [disabled]="!formAlbum.form.valid">{{titulo}}</button>
        </div>

    </form>
</section>