 <main style="padding-top: 10%; height: 100vh;">
    <section class="py-3 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-9 col-md- mx-auto">
          <h1 class="fw-light">Bienvenido MUSIFY</h1>
          <p class="lead text-muted">Canciones nuevas, artistas de música de hoy y podcasts basados en tus intereses para escuchar de manera fluida y gratis. Sigue a tus artistas de música favorita en Spotify. Un mundo de música está a tu alcance, ya sea desde una playlist tuya, las playlists con mayor popularidad o podcasts y radio según tu estilo.</p>
        </div>
      </div>
      <a class="btn btn-primary btn-lg" [routerLink]="['/artistas',1]" role="button">Ver artistas</a>
    </section> 
  </main>

  