<section class="full">

    <div class="portada" *ngIf="artist">
        <div class="imgContenedor">
            <img class="artistImg" src="{{ url + 'get-image-artist/' + artist.image }}">
        </div>
        <div class="caption">
            <h1>{{artist.name}}</h1>
            <p>{{artist.description}}</p>
        </div>
    </div>

    <div style=" width:100%; height:50%;">
        <div *ngIf="identity && identity.role == 'ROLE_ADMIN'" [routerLink]="['/crear-album', artist._id]"
            class="admin">
            <button class="button-12" role="button">Añadir album</button>
        </div>

        <h1 style="color: white; padding-top: 3%; padding-left: 2%;">Albums</h1>
        <section class="grid" *ngIf="albums" >
                <div class="cardItem" *ngFor="let album of albums">
                    <img class="imgAlbum" src="{{ url + 'get-image-album/' + album.image }}" >
                    <div class="captionAlbum">
                    <p>{{album.title}}</p>
                    </div>
                </div>

        </section>

    </div>