<!--TEMPLATE ADMIN -->
<div class="principal" *ngIf="identity && identity.role=='ROLE_ADMIN'">
    <legend>Crear nueva cancion</legend>
  
    <div *ngIf="alertMessage">
      <div class="alert alert-info" role="alert">
        {{alertMessage}}
      </div>
    </div>
  
  
  <form #formSong="ngForm" (ngSubmit)="onSubmit()">
    <div class="year form-floating mb-3">
        <input type="number" class="form-control" placeholder="number" #number="ngModel" name="number" [(ngModel)]="song.number"
          required>
        <label>Numero</label>
        <span *ngIf="!number.valid && number.touched">El número de la canción es obligatorio</span>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="nombre" #name="ngModel" [(ngModel)]="song.name" name="name"
          required>
        <label>Titulo</label>
        <span *ngIf="!name.valid && name.touched">El titulo es obligatorio</span>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="nombre" rows="3" #duration="ngModel" [(ngModel)]="song.duration" name="duration" required>
        <label for="exampleFormControlTextarea1">Duracion</label>
        <span *ngIf="!duration.valid && duration.touched">La duracion es obligatoria</span>
      </div>
  
  
      <div class="button form-floating mb-3">
        <button type="submit" class="btn btn-secondary" [disabled]="!formSong.form.valid">{{titulo}}</button>
      </div>
  
    </form>
  </div>
  
