<section class="full">

    <div class="portada" *ngIf="album ">
        <div class="album">
            <img class="albumImg" src="{{ url + 'get-image-album/' + album.image }}" />
        </div>

        <div class="textAlbum" >
            <p style="font-weight: bolder;">ALBUM </p>
            <h1  style="font-weight: bolder;">{{album.title}}</h1>
            <p>{{album.artist}} {{album.description}} • {{album.year}}</p>
        </div>


    </div>
    <div class="complete">
        <div class="admin" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
            <button class="button-12" role="button" [routerLink]="['/crear-tema', album._id]" >Añadir Cancion</button>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">TITULO</th>
                        <th scope="col"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="white" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8zm-.22-13h-.06c-.4 0-.72.32-.72.72v4.72c0 .35.18.68.49.86l4.15 2.49c.34.2.78.1.98-.24a.71.71 0 0 0-.25-.99l-3.87-2.3V7.72c0-.4-.32-.72-.72-.72z"/></svg></th>
                        <th *ngIf="identity && identity.role == 'ROLE_ADMIN'"  scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let song of songs">

                        <th scope="row">{{song.number}}</th>
                        <td>{{song.name}}</td>
                        <td>{{song.duration}}</td>
                        <td *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" [routerLink]="['/editar-tema', song._id]">Editar</button>
                                <button type="button" class="btn btn-secondary" (click)="onDeleteConfirm(song._id)">Eliminar</button>
                              </div>
                              <div class="seguro" *ngIf="confirmado == song._id">
                                <a (click)="onDeleteSong(song._id)" class="btn btn-sm btn-danger">
                                    Eliminar
                                </a>
                                <a (click)="onCancelSong()" class="btn btn-sm btn-primary">
                                    Cancelar
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>