*{
    font-family: 'Poppins';
    word-break:break-all;
}

.title{
    margin-bottom: 6%;
}



.titlewhite{
    margin-bottom: 6%;
    padding-top: 7%;
    padding-bottom: 5%;
    color: #FFFF;
    font-style: normal;
    font-weight: 650;
    font-size: 38px;
    text-align: center;
}

span{
    color:rgb(143, 4, 4);
}

.busqueda{
    display: flex;
  align-items: flex-end;
}

#identity_name{
    color: #43d3d6af;
    font-weight: bold;
}



img{
    width: 50px;
    height: 50px; 
    border-radius: 100px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #242424;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #ffffff33;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-weight: 600;
}

li a.active {
    color: rgba(255, 255, 255, 0.705);
}

li a:hover:not(.active) {
    color: rgba(255, 255, 255, 0.614);
}

.dropdown{
    padding-top: 50%;
    word-break:break-all;
}

.dropdown a{
    font-size: 18px;
    color: rgba(246, 233, 233, 0.708);
}


.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(178, 252, 252, 0.596);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    word-break:break-all;
    color: rgba(255, 255, 255, 0.2);
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #d4dcd555;
}

.item{
    font-size: 26px;
}

.user, circle{
    fill: #ffffff33;
}