*{
    font-family: 'Poppins';
    word-break: break-word;
    word-wrap: word-break;
}



.title{
    margin: 0 0 30px;
    padding: 0;
    color: rgb(14, 13, 13);
    text-align: center;
}



.titlewhite{
    margin-bottom: 6%;
    padding-top: 7%;
    padding-bottom: 5%;
    color: #FFFF;
    font-style: normal;
    font-weight: 650;
    font-size: 35px;
    text-align: center;
}

span{
    color:rgb(143, 4, 4);
}

.busqueda{
    display: flex;
  align-items: flex-end;
}

#identity_name{
    color: #43d3d6af;
    font-weight: bold;
    padding-left: 3%;
}



#image-logged{
    width: 50px;
    height: 50px; 
    border-radius: 100px;
}


.navbarUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #242424;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#navbarLi a {
    display: block;
    color: #ffffff33;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-weight: 600;
}

#navbarLi a.active {
    color: rgba(255, 255, 255, 0.705);
}

#navbarLi a:hover:not(.active) {
    color: rgba(255, 255, 255, 0.614);
}

.dropdown{
    margin-top: 13%;
    word-break:break-all;
}

.dropdown a{
    font-size: 18px;
    color: rgba(246, 233, 233, 0.708);
}


.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(124, 243, 243, 0.374);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    word-break:break-all;
    color: rgba(255, 255, 255, 0.2);
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #d4dcd555;
}

.item{
    font-size: 26px;
}

.user, circle{
    fill: #ffffff33;
}

@keyframes anim{
    0% {background-color: rgba(0, 255, 208, 0.553);} /*Amarillo*/
   0% {background-color: rgba(0, 153, 255, 0.24);} /*Naranja*/
   50% {background-color: rgba(0, 0, 0, 0.635);} /*Negro*/
   25% {background-color: rgba(0, 255, 208, 0.422);} /*Amarillo*/
  0% {background-color: rgba(0, 153, 255, 0.24);} /*Naranja*/
}


.actived{
    color: rgba(255, 255, 255, 0.74);
    animation-name: anim;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}


  
