<div *ngIf="identity" class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h1>{{title}}</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Artistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Album</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Bienvenido {{identity.name}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/mis-datos']" >Mis datos 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
              <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
            </svg>
               </a>
            <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesion</a>
          </div>
        </li>
      </ul>
      <form class="busqueda form-inline my-2 my-lg-0" style="display: flex; align-items: flex-end;">
        <input class="form-control mr-sm-2" type="search" placeholder="Encuentra musica" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="container-fluid" *ngIf="!identity">
    <div class="row align-items-start" style="padding-top: 5%;">
      <div class="identidad col">
        <h1 class="title text-center">Identificate</h1>
        <div *ngIf="errorMessage">
          <div class="alert alert-danger" role="alert">
            <strong>Error: </strong>{{errorMessage.error.message}}
          </div>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
              <input type="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" name="email" aria-describedby="emailHelp" required>
              <span *ngIf="!email.valid && (email.dirty || email.touched)"> Email obligatorio</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" required>
              <span *ngIf="!password.valid && (password.dirty || password.touched)"> Ingrese la contraseña</span>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
      </div>



      <div class="registrar col">
        <h1 class="title text-center">Registrate</h1>
        <div *ngIf="alertRegister">
          <div class="alert alert-primary" role="alert">
            {{alertRegister}}
          </div>
        </div>
        <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="nombre" #name="ngModel" [(ngModel)]="user_register.name" name="name" required>
                <label>Nombre</label>
                <span *ngIf="!name.valid && (name.dirty || name.touched)"> Nombre obligatorio</span>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="apellido" #surname="ngModel" [(ngModel)]="user_register.surname" name="surname" required>
                <label>Apellido</label>
                <span *ngIf="!surname.valid && (surname.dirty || surname.touched)"> Apellido obligatorio</span>
              </div>
              <div class="form-floating mb-3">
                 <input type="email" class="form-control" #emailr="ngModel" [(ngModel)]="user_register.email" name="email" placeholder="email" required>
                <label>Email</label>
                <span *ngIf="!emailr.valid && (emailr.dirty || emailr.touched)"> Email obligatorio</span>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" placeholder="contraseña" #passwordr="ngModel" name="password" [(ngModel)]="user_register.password" required>
                <label>Contraseña</label>
                <span *ngIf="!passwordr.valid && (passwordr.dirty || passwordr.touched)"> Contraseña obligatoria</span>
              </div>
              <div class="form-floating mb-3">
                <button type="submit" class="btn btn-secondary ">Registrarse</button>
              </div>
          </form>
      </div>
    </div>
</div>

