<section class="full">
    <!-- Portada del álbum -->
    <div class="portada">
      <div class="album">
        <img class="albumImg" src="https://i.postimg.cc/02QvSZW0/liked.png" />
      </div>
  
      <div class="textAlbum">
        <!-- Información del álbum -->
        <p style="font-weight: bolder;">ALBUM </p>
        <h1 style="font-weight: bolder;">TUS CANCIONES FAVORITAS</h1>
        <p class="description"> Usuario • Cantidad</p>
      </div>
    </div>
  
    <div class="complete">
      <div>
        <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">TITULO</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Iteración sobre las canciones favoritas -->
            <tr *ngFor="let song of favsong">
              <th scope="row" class="play">
                <!-- Icono de reproducción -->
                <svg class="iconplay" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16"(click)="startPlayer(song.song)">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                </svg>
              </th>
              <th scope="row">{{ song.song.number }}</th>
              <td style="font-size: 18px;">{{ song.song.name }}
                <p style="font-size: 13px;">{{ artist.name }}</p>
              </td>
              <td>{{ song.song.duration }}</td>
              <td>

                <!-- Botón para eliminar de favoritos -->
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary" (click)="onDeleteFavSong(song.song._id)">Eliminar de favoritos</button>
                </div>
               
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  