

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');


.principal{
    padding-top: 5%;
    height: 100vh;
    margin-left:17%; 
    padding:0px 10px; 
    background-color: #1e1d1d;
}
.artistTitle{
  color:white;
  font-size: 35px;
  font-weight:  600;
  letter-spacing: 2px;

}
.admin{
  padding-top: 5%;
}
/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  height: 280px;
  grid-column-gap: 10px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around

}

.cardItem{
  height: 34vh; 
  width: 35vh;
  margin-bottom: 5%;
  
}

.cardItem .artistImg {
  overflow: hidden;
  min-width: 100%
}

.artistImg{
  object-fit: cover;
  width:100%;
  height:100%;
  }


  .cardItem:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition:all .5s ease-in-out; 
    transition: all 0.8s;
    filter: opacity(60%);
  } 

  
  .caption {
    position: absolute;
    top: 50%;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

  .caption h2 {
    margin: 0;
    color: rgb(245, 242, 242);
    font-size: 1.6em;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
  }

  .caption h2:hover {
    font-size: 1.7em;
    cursor: pointer;
    letter-spacing: 2px;
  }

  .caption p {
    margin: 0;
    color: rgb(255, 253, 253);
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .cardItem:hover .caption {
    opacity: 1;
    bottom: 46%;
  }

  .contenedorPage{
    padding-bottom: 2,5%;
    
  }


  .container h1, .contenedorPage{
    display: inline;
  }


