<div style="padding-top:3%; height: 100vh; margin-left:17%; padding:0px 10px; ">
 
    <legend style="padding-top:2%; font-weight: bolder; color:white;">Editar artista</legend>

    <div *ngIf="alertMessage">
      <div class="alert alert-success" role="alert">
        {{alertMessage}}
      </div>
  </div>

      <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
      
          <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="nombre" #name="ngModel" [(ngModel)]="artist.name" name="name" required>
              <label>Nombre</label>
              <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
          </div>

          <div class="form-group mb-3">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #description="ngModel" [(ngModel)]="artist.description" name="description" required></textarea>
            <span *ngIf="!description.valid && description.touched">La descripcion es obligatoria</span>
          </div>

          <div *ngIf="is_edit" class="mb-2">
            <div class="artist_image_for_edit" *ngIf="artist.image && artist.image != 'null'">
              <img class="artistImg"src="{{url + 'get-image-artist/' + artist.image }}" />
           </div>
          </div>

          <div class="form-group mb-3">
            <label for="formFile" class="form-label">Subir imagen de artista</label>
            <input class="form-control"  id="formFile" type="file" (change)="fileChangeEvent($event)">
          </div>

          <div class="button form-floating mb-3" >
              <button type="submit" class="btn btn-secondary" [disabled]="!formArtist.form.valid" >{{titulo}}</button>
          </div>

        </form>
    </div>

  
<div *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
	<h1>Error</h1>
	<p>No tienes acceso a esta parte de la aplicación</p>
</div>

  
